*{
    margin:0px;
    padding:0px;
  }
  .panelBody{
    margin-top:5% !important;
    max-width: fit-content !important;
    padding: 15px !important;
    background-color: blue;
    border-radius: 15px;
    width: 400px;
    height: auto;
    margin: auto;
  
  }
  .btn-primary{
    width:37px;
    height:38px;
  }
  
  hr {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
  }
  .MyButton{
  padding: 1px;
  }
  
  body{
  background-color: black !important;
  }
  
  #inputData{
  border:none;
  width: 175px;
  height:34px;
  background: #007bff ;
  color:white;
  
  }
  
  .btn-info{
  margin-top:3px;
  width:80px;
  
  }
  
  #numPad{
    border:none;
    border: 1px solid grey;
    border-bottom:none;
    padding:5px;
    
  }
  
  #scientific{
  border-top: none;
  border:1px solid grey;
  padding:5px;
  
  }
  